

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: dimgray;
    margin: 0px;

}
header {
    background-color: white;
    padding: 10px;
    margin: 10px;
}

nav {
    background-color: rgb(162, 162, 197);
    padding: 3px;
    box-shadow: 5px 3px 7px 1px  rgb(115, 38, 131);
}
nav > a {
    text-align: none;
    color: white;
    font-weight: bold;
    margin-right: 30px;
}

nav > a:hover {
    text-decoration: underline;
}
main {
    background-color: white;
    padding: 10px;
    margin: 10px;
    border-radius: 20px;
    box-shadow: 4px 4px 9px 0px green;
}
article{
    background-color: lightblue;
}

article > aside {
    background-color:rgb(121, 113, 113) ;
}
footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 0px;
    margin: 0px;
}
div#bola {
    height: 100px;
    width: 100px;
    background-color: white;
    border-radius: 55px;
}